/* 
  Electron FIX :
  Electron Helper[18713:10987691] Couldn't set selectedTextBackgroundColor from default ()
*/
::selection {
  background: #5BD4ED;
}

/* FLEX */
.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.sidebar {
  width: 230px;
  -webkit-flex: 0 0 230px; 
  flex: 0 0 230px; 
  background: #e1e1e1;
}

.pannel {
  padding-left: 5px;
  padding-right: 5px;
}

/* Put app related css here! */

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  padding-right: 1em;
}

nav ul li a.active {
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
}