/* 
  Electron FIX :
  Electron Helper[18713:10987691] Couldn't set selectedTextBackgroundColor from default ()
*/
::selection {
  background: #5BD4ED;
}

/* LAYOUT */
a { text-decoration: none;}

/* FLEX */

#wrapper {
  display: flex;
  flex-direction: column;
  align-content: auto;
  height: 100%;
}

header {
  flex: 1;
  align-self: auto;
  border: solid 1px blue;
}

main {
  flex: 0 1 100%;
  align-self: stretch;
}

footer {
  flex: 1;
  align-self: auto;
  border: solid 1px red;
}

.flex-container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: auto;
   border: solid 1px green;
}

aside {
  width: 230px;
  flex: 0 1 230px;
  border-right: solid 1px gray;
}

aside ul {
  padding: 0;
  list-style-type: none;
}

.pannel {
  padding-left: 1em;
  padding-right: 1em;
}

/* Simple inline menu */

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  padding-right: 1em;
}

nav ul li a.active {
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
}
